*{margin:0;font-family:Arial}


/* Team images alignment */
.team {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 50px 0;
}

.photo img{
  height: auto;
  padding:0 25px;
  border-radius: 50%;
  margin: 5px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
